<div class="bd-example">
  <details>
    <summary>More Details</summary>
    <div class="row">
      <div class="col-5"><small>Employee ID</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6">
        <small>{{ SS_empCode }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-5"><small>Manager</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6">
        <small>{{ SS_manager }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-5"><small>Start DateTime</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6">
        <small>{{ todayDateTime }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-5"><small>Team Name</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6">
        <small>{{ SS_team }}</small>
      </div>
    </div>
  </details>
</div>
