<div class="bd-example">
    <details>
      <summary>More Details</summary>
      <div class="row">
        <div class="col-5">Employee Code</div>
        <div class="col-1">:</div>
        <div class="col-6">TC5-156</div>
      </div>
      <div class="row">
        <div class="col-5">Manager</div>
        <div class="col-1">:</div>
        <div class="col-6">Kamal Purushothaman</div>
      </div>
      <div class="row">
        <div class="col-5">Assessment Start DateTime</div>
        <div class="col-1">:</div>
        <div class="col-6">25/08/2022 11.00PM</div>
      </div>
      <div class="row">
        <div class="col-5">Team Name</div>
        <div class="col-1">:</div>
        <div class="col-6">Java</div>
      </div>
      <div class="row">
        <div class="col-5">Category Name</div>
        <div class="col-1">:</div>
        <div class="col-6">Java,Spring boot, Angular</div>
      </div>
    </details>
  </div>