<div class="bd-example">
  <details>
    <summary>More Details</summary>
    <div class="row">
      <div class="col-5"><small>Employee ID</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6"><small>TC5-156</small></div>
    </div>
    <div class="row">
      <div class="col-5"><small>Manager</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6"><small>Kamal Purushothaman</small></div>
    </div>
    <div class="row">
      <div class="col-5"><small>Assessment Start DateTime</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6"><small>25/08/2022 11.00PM</small></div>
    </div>
    <div class="row">
      <div class="col-5"><small>Team Name</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6"><small>Java</small></div>
    </div>
    <div class="row">
      <div class="col-5"><small>Category Name</small></div>
      <div class="col-1"><small>:</small></div>
      <div class="col-6"><small>Java,Spring boot, Angular</small></div>
    </div>
  </details>
</div>
