<app-admin-header></app-admin-header>
<!-- <div class="container"> -->
<div class="card">
  <div class="card-header">
    <h6 class="text-center text-light">User(s) List</h6>
  </div>
  <div class="card-body bg-light">
    <form #f="ngForm" (ngSubmit)="searchByUser()" novalidate>
      <div class="d-flex flex-wrap flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight text-dark">Search By:</div>
        <div class="p-2 bd-highlight text-dark">
          <select
            name="searchType"
            [(ngModel)]="searchType"
            class="form-select form-select-sm"
            (ngModelChange)="onChangeStatus($event)"
          >
            <option value="">Select</option>
            <option value="username">Name(First/Last)</option>
            <option value="empcode">Employee Code</option>
            <option value="email">Email</option>
            <option value="manager">Manager</option>
            <option value="team">Team</option>
            <option value="attempts">No. of Attempts</option>
            <!-- <option value="attempts">Registered On</option> -->
          </select>
        </div>
        <div class="p-2 bd-highlight">
          <input
            type="text"
            name="searchKey"
            class="form-control form-control-sm"
            placeholder="Keyword"
            [(ngModel)]="searchKey"
            *ngIf="isEnableSearchText"
          />
          <select
            name="searchKey"
            class="form-select form-select-sm"
            [(ngModel)]="searchKey"
            *ngIf="isEnableTeam"
          >
            <option value="">Select</option>
            <option *ngFor="let item of teamList" [value]="item.id">
              {{ item.team }}
            </option>
          </select>
        </div>
        <div class="p-2 bd-highlight">
          <input type="submit" value="Search" class="btn btn-sm btn-primary" />
        </div>
        <div class="p-2 bd-highlight">
          <input
            type="button"
            value="Clear"
            class="btn btn-sm btn-danger"
            (click)="getAllUsersPage()"
          />
        </div>
      </div>
    </form>
    <div
      class="card-header row bg-dark align-items-center"
      *ngIf="userList.length > 0"
    >
      <div class="col-lg-2 col-sm-12 col-md-4 d-flex align-items-center">
        <label> Total Items: {{ count }}</label>
      </div>
      <div
        class="col-lg-10 col-sm-12 col-md-4 d-flex justify-content-end align-items-center"
      >
        <pagination-controls
          [responsive]="true"
          class="my-1"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
    <div class="row my-2">
      <div class="row my-2 table-responsive">
        <p
          *ngIf="userList.length == 0"
          class="text-center badge bg-warning text-dark"
        >
          No record(s) found
        </p>
        <table class="table text-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">EMP CODE</th>
              <th scope="col">Email</th>
              <th scope="col">Manager</th>
              <th scope="col">Team</th>
              <th scope="col">Attempts</th>
              <th scope="col">Attened On</th>
            </tr>
          </thead>
          <tbody
            class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
            *ngFor="
              let item of userList
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index
            "
          >
            <tr>
              <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
              <td>{{ item.firstName }} {{ item.lastName }}</td>
              <td>{{ item.empCode }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.manager }}</td>
              <td>{{ item.team }}</td>
              <td>{{ item.attempts }}</td>
              <td>{{ item.registeredOn.split("T")[0] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="card-header row bg-dark align-items-center"
      *ngIf="userList.length > 0"
    >
      <div class="col-lg-2 col-sm-12 col-md-4">
        <label> Items per Page:</label>
        <select
          (change)="handlePageSizeChange($event)"
          class="form-select form-select-sm"
        >
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
      <div
        class="col-lg-10 col-sm-12 col-md-4 d-flex justify-content-end align-items-center"
      >
        <pagination-controls
          [responsive]="true"
          class="my-1"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
<!-- </div> -->
