<app-admin-header></app-admin-header>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h6 class="text-center">
        General Question List(s) -
        {{ generalList.length > 0 ? generalList.length : 0 }}
      </h6>
    </div>
    <div class="card-body bg-light">
      <div class="row">
        <div class="col-12" *ngFor="let item of generalList; let i = index">
          <div class="card">
            <div class="card-body">
              {{ i + 1 }}. <small class="card-text">{{ item.question }}</small>
              <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-6">
                  <small
                    ><span class="badge bg-info text-dark">Option 1:</span>
                    {{ item.option1 }}</small
                  >
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                  <small
                    ><span class="badge bg-info text-dark">Option 2:</span>
                    {{ item.option2 }}</small
                  >
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                  <small
                    ><span class="badge bg-info text-dark">Option 3:</span>
                    {{ item.option3 }}</small
                  >
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6">
                  <small
                    ><span class="badge bg-info text-dark">Option 4:</span>
                    {{ item.option4 }}</small
                  >
                </div>
              </div>

              <small
                ><span class="badge bg-info text-dark">Answer</span>
                {{ item.answer }}</small
              >
              <div class="float-end">
                <a href="#" class="btn btn-sm btn-warning text-dark">Edit</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger mx-2" (click)="deleteGeneralQuestionById(item.id)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
