<app-admin-header></app-admin-header>

<div class="row m-3">
  <div
    class="col-lg-3 col-xl-3 col-sm-6 col-12 my-1"
    *ngFor="let item of widgetList"
  >
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex justify-content-between">
            <div class="align-self-center fs-1 float-left">
              <i [ngClass]="item.styleClass"></i>
            </div>
            <div class="media-body">
              <h3 class="text-center">{{ item.count }}</h3>
              <span>{{ item.title }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
