<app-admin-header></app-admin-header>
<!-- <div class="container"> -->
  <div class="card">
    <div class="card-header">
      <h6 class="text-center text-light">
        Team List(s) 
      </h6>
    </div>
    <div class="card-body bg-light">
      <!-- <form #f="ngForm" (ngSubmit)="searchByTeamId(f)" novalidate>
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight text-dark">Search By Team:</div>
          <div class="p-2 bd-highlight">
            <input
              type="text"
              name="searchKey"
              class="form-control form-control-sm"
              [(ngModel)]="searchKey"
            />
          </div>
          <div class="p-2 bd-highlight">
            <input type="submit" value="Search" class="btn btn-sm btn-primary"/>
          </div>
          <div class="p-2 bd-highlight">
            <input type="submit" value="Clear" class="btn btn-sm btn-danger"/>
          </div>
        </div>
      </form> -->
      <div class="card-header row bg-dark align-items-center">
        <div class="col-lg-2 col-sm-12 col-md-4 ">
          <label> Total Items: {{count}}</label>
          
        </div>
        <div
          class="col-lg-10 col-sm-12 col-md-4 d-flex justify-content-end align-items-center"
        >
          <pagination-controls
            [responsive]="true"
            class="my-1"
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
      <div class="row my-2">
        <div
          class="col-lg-3 col-sm-12 col-md-4"
          *ngFor="
            let item of teamList
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
        <div class="card bg-light">
          <div class="card-body text-dark">
              {{ i + 1 }}. <small class="card-text fw-bold">{{ item.team }}</small>
              <div>
                <small
                  ><span class="badge bg-info text-dark"
                    ><i class="bi bi-alarm-fill"></i> {{ item.createdOn.split("T")[0] }}</span
                  >
                </small>
              </div>
              <div class="float-end">
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-warning"
                  (click)="updateTeam(item)"
                  >Edit</a
                >
                <!-- <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-danger mx-2"
                  (click)="deleteTeamById(item)"
                  >Delete</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header row bg-dark align-items-center">
        <div class="col-lg-2 col-sm-12 col-md-4 ">
          <label> Items per Page:</label>
          <select
          (change)="handlePageSizeChange($event)"
          class="form-select form-select-sm"
        >
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
        </div>
        <div
          class="col-lg-10 col-sm-12 col-md-4 d-flex justify-content-end align-items-center"
        >
          <pagination-controls
            [responsive]="true"
            class="my-1"
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
<!-- </div> -->
