<input type="file" (change)="onFileChange($event)" multiple="false" />
<button (click)="saveBulkQn()">Save</button>
<table class="table table-hover sjs-table" *ngIf="data.length>0">
  <tbody>
    <tr>
      <td>Question</td>
      <td>Option 1</td>
      <td>Option 2</td>
      <td>Option 3</td>
      <td>Option 4</td>
      <td>Answer</td>
    </tr>
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{ val }}
      </td>
    </tr>
  </tbody>
</table>
<!-- <button (click)="export()">Export!</button> -->
