
.container {
  margin: 30px auto;
  padding: 20px 15px;
}
.checkborder {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #5bc0de
}

.checkborder:hover {
    background-color: #559ce9d9;
    color: black;
}

input[type="radio"]:checked + label {
  color: black;
  font-weight: 700;
  text-decoration: underline;
  font-size: large;
}

input[type="radio"]:checked{
    background-color:rgb(51, 234, 51)
} 

input[type="radio"]{
    appearance: none;
    border: 1px solid #d3d3d3;
    width: 35px;
    height: 35px;
    content: none;
    outline: none;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 
 input[type="radio"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
 }
 
 input[type="radio"]:checked::before{
   position: absolute;
   color: black !important;
   content: "\00A0\2713\00A0" !important;
   border: 1px solid #d3d3d3;
   font-weight: bolder;
   font-size: 25px;
 }

 .sticky-div{
  position: sticky;
  z-index: 100;
  max-height: 650px;
  overflow: auto;
 }

 .disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}