<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h4 class="text-dark text-center mt-3">
        Pro Assessment Dashboard <i class="bi bi-boxes"></i>
      </h4>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
          <div class="btn-group">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="defaultDropdown"
              data-bs-toggle="dropdown"
              data-bs-auto-close="true"
              aria-expanded="false"
            >
              Create New
            </button>
            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/add-gen-qn">General Questions</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/add-tech-qn">Tech Questions</a></li>
            </ul>
          </div>
        </li>
        <li class="list-group-item">
          <div class="btn-group">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="defaultDropdown"
              data-bs-toggle="dropdown"
              data-bs-auto-close="true"
              aria-expanded="false"
            >
              View List
            </button>
            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/gen-qn-list">General Questions</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/tech-qn-list">Tech Questions</a></li>
            </ul>
          </div>
        </li>
      </ul>
  
      <a
        class="btn btn-danger bg-danger"
        href="#"
        [routerLink]="['/admin-login']"
        routerLinkActive="router-link-active"
        >Logout <i class="bi bi-box-arrow-left"></i
      ></a>
    </div>
  </nav>
  