<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-12 bg-light">
    <div id="chart my-2">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [grid]="chartOptions.grid"
        [fill]="chartOptions.fill"
      ></apx-chart>
      <!-- <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [fill]="chartOptions.fill"
        [title]="chartOptions.title"
      ></apx-chart> -->
    </div>
  </div>
  <div
    class="col-lg-6 col-sm-12 col-md-12 bg-light"
    *ngIf="techList.length > 0"
  >
    <h4 class="text-center text-dark my-2">Team-wise Active In-active count</h4>
    <div class="d-flex justify-content-end align-items-center bg-dark">
      <pagination-controls
        class="mx-5"
        [responsive]="true"
        class="my-1"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>

    <table class="table text-dark" *ngIf="techList.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <th scope="col">Active</th>
          <th scope="col">In-Active</th>
        </tr>
      </thead>
      <tbody
        class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
        *ngFor="
          let item of techList
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <tr>
          <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
          <td>{{ item.team }}</td>
          <td>{{ item.isActiveCount }}</td>
          <td>{{ item.isInActiveCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
